Flow1.txt
[
    {
        "id": "eb1c3b05.2068d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "beb9437e.d1ad8",
        "type": "rpi-gpio out",
        "z": "eb1c3b05.2068d8",
        "name": "Green LED",
        "pin": "11",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "7a49d25c.fc0a9c",
        "type": "inject",
        "z": "eb1c3b05.2068d8",
        "name": "on",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 50,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "40f77f6a.edfd8",
        "type": "inject",
        "z": "eb1c3b05.2068d8",
        "name": "off",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 50,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b8bbc639.2baf88",
        "type": "debug",
        "z": "eb1c3b05.2068d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "8b1e7f4f.19da3",
        "type": "rpi-gpio in",
        "z": "eb1c3b05.2068d8",
        "name": "Button",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "x": 230,
        "y": 320,
        "wires": [
            [
                "c4e14069.5acfc"
            ]
        ]
    },
    {
        "id": "c4e14069.5acfc",
        "type": "switch",
        "z": "eb1c3b05.2068d8",
        "name": "if input is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 340,
        "wires": [
            [
                "4da89424.64613c"
            ],
            [
                "4a39205a.484d8"
            ]
        ]
    },
    {
        "id": "4da89424.64613c",
        "type": "change",
        "z": "eb1c3b05.2068d8",
        "name": "change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 280,
        "wires": [
            [
                "beb9437e.d1ad8"
            ]
        ]
    },
    {
        "id": "4a39205a.484d8",
        "type": "change",
        "z": "eb1c3b05.2068d8",
        "name": "change tp 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 360,
        "wires": [
            [
                "beb9437e.d1ad8"
            ]
        ]
    }
]